/* configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;   
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin: 30px;
}

/* Cabeçalho */

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Menu */

header > nav > ul {
    color: aliceblue;
    text-align: right;
}

header > nav > ul > li > p {
    display: inline;
    padding: 5px;
    font:  normal bold 15pt Arial;
    border: 2px solid white;
    border-radius: 5px;
}

header > nav >ul > li:hover > p {
    background-color: aliceblue;
    color: black;
}

/* submenu */

header > nav > ul > li ul {
    display: none;
}

header > nav >ul > li:hover ul{
    display: flex;
    margin-top: 30px;
    
}


header > nav >ul > li > ul li {
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 5px;

}

header > nav >ul > li > ul li a {
    display: block;
    padding: 10px;
}

header > nav >ul > li > ul li:hover a {
    background-color: aliceblue;
    color: black;
}

/* configurando cores que simbolizarão imagens */

section div.cor1 {
    background-color: orange;

}

section div.cor2 {
    background-color: red;

}


section div.cor3 {
    background-color: blueviolet;

}

section div.cor4 {
    background-color: rgb(43, 226, 83);

}


.cor1, .cor2, .cor3, .cor4 {
    max-width: 100%;
}

/*Layout Grid 2*/

section.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

section.grid2 > article.sidebar div {
    margin-bottom: 10px;

}

@media (max-width: 600px) {
    section.grid2 {
        grid-template-columns: 1fr;
    }

    section.grid2 > article.sidebar {
        display: flex;
        overflow: scroll; /*cria uma scroll dentro da tela para ver os itens*/
    }

    section.grid2 > article.sidebar div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}
