@charset "UTF_8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 89, 255, 0.712);
    font: normal 15pt Arial, sans-serif;
}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px; 
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    text-align: center;
}

section div {
    padding: 20px;
}

section > div#msg {
    font: normal bold 15pt Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 30px;

}